/*Body*/

body {
    font-family: 'Sue Ellen Francisco', cursive;
}


/*Logo*/

.logo-centred {
    margin: 0 auto;
}

.logo-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.logo-img-mobile {
    display: none;
}

.logo-img:hover {
    opacity: 0.6;
}

/*Logo Media Queries*/

@media (max-width: 767px) {
    .logo-img-mobile {
        display: block;
        margin-right: 25%;
        width: 50%;
    }

    .logo-img {
        display: none;
    }
}

/*Menu*/

.navbar-toggler {
    border: 0;
    outline: none;
}

.navbar-nav {
    padding-bottom: 30px;
}

.navbar-nav,
.navbar-nav li {
    margin: 0 auto;
    text-align: center;
}

/*Menu Media Queries*/

@media (min-width: 767px) {
    .navbar-nav li {
        width: 50%;
        border: 3px solid rgba(0, 0, 0, .5);
        padding: 5px 20px 5px 20px;
        margin: 0 15px;
        display: inline-block;
        font-size: 20px;
        border-radius: 320px 10px 200px 16px/17px 230px 12px 260px;
    }

    .navbar-nav .active {
        border: 3px solid black;
    }


    .navbar-nav li:not(.active):hover {
        font-size: 23px;
        border: 3px solid black;
        padding: 4px 20px 1px 20px;
        border-radius: 327px 17px 207px 21px/23px 237px 19px 268px;
    }
    
    .navbar-nav li:not(.active):hover a {
        color: black;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: black;
    }

}

@media (max-width: 768px) {
    .navbar-nav li {
    font-size: 20px;
}
}

/*Banner Image Media Queries*/
@media (min-width: 767px) {

.banner-container {
    padding: 0;
}

.banner-image {
    height: 110vh;
    background: url(imgs/header-image-desktop.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
}


@media (max-width: 767px) {

.banner-container {
    padding: 0;
}

.banner-image {
    height: 110vh;
    /*Need to update image*/
    background: url(imgs/header-image-desktop.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
}