/*Global styles*/

body {
    font-family: 'Shadows Into Light', cursive;
}

.section-header {
    text-align: center;
    padding: 20px 0;
}

.section-header h1 {
    margin: 0 0;
}

h2 {
    margin-bottom: 0;
}

button {
    border: 3px solid rgba(0, 0, 0, .5);
    border-radius: 320px 10px 200px 16px/17px 230px 12px 260px;
    color: rgba(0, 0, 0, .5);
}

button:hover {
    border: 3px solid black;
    color: black;
    border-radius: 327px 17px 207px 21px/23px 237px 19px 268px;
}


/*Logos*/

.logo-centred-footer,
.logo-centred {
    margin: 0 auto;
}

.logo-img-footer,
.logo-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.logo-img-mobile {
    display: none;
}

.logo-img:hover {
    opacity: 0.6;
}

/*Logo Media Queries*/

@media (max-width: 767px) {
    .logo-img-mobile {
        display: inline-block;
        margin-right: 25%;
        width: 50%;
    }

    .logo-img {
        display: none;
    }
}

/*Menu*/

.navbar-toggler {
    border: 0;
    outline: none;
}

.navbar-nav {
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav li {
    margin: 0 auto;
    text-align: center;
}

/*Menu Media Queries*/

@media (min-width: 768px) {
    .navbar-nav li {
        width: 50%;
        border: 3px solid rgba(0, 0, 0, .5);
        border-radius: 320px 10px 200px 16px/17px 230px 12px 260px;
        padding: 5px 20px 5px 20px;
        margin: 0 15px;
        display: inline-block;
        font-size: 20px;
    }

    .navbar-nav .active {
        border: 3px solid black;
    }


    .navbar-nav li:not(.active):hover {
        font-size: 23px;
        border: 3px solid black;
        padding: 4px 20px 1px 20px;
        border-radius: 327px 17px 207px 21px/23px 237px 19px 268px;
    }

    .navbar-nav li:not(.active):hover a {
        color: black;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: black;
    }

}

@media (max-width: 768px) {
    .navbar-nav li {
        font-size: 20px;
    }
}

/*Banner Image Media Queries*/

@media (min-width: 767px) {

    .banner-container {
        padding: 0;
    }

    .banner-image {
        height: 110vh;
        background: url(imgs/header-image-desktop.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
}


@media (max-width: 767px) {

    .banner-container {
        padding: 0;
    }

    .banner-image {
        height: 110vh;
        /*Need to update image*/
        background: url(imgs/header-image-desktop.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
}

/*Promo Banner*/

.promo-banner {
    position: relative;
    padding: 0;
}

.promo-banner img {
    max-width: 100%;
    height: auto;
}


.promo-banner button {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 20%;
    height: 40%;
    font-size: 40px;
}



.promo-banner button:hover {
    font-size: 42px;
}

/*Promo Media Queries*/

@media (max-width: 992px) {
    .promo-banner button {
        font-size: 26px;
    }

    .promo-banner button:hover {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .promo-banner button {
        font-size: 14px;
    }

    .promo-banner button:hover {
        font-size: 16px;
    }
}

/*Footer*/

.logo-img-footer {
    width: 25%;
    padding: 50px 0 20px 0;
}

.centred-icons {
    display: flex;
    justify-content: center;
}

.centred-icons ul {
    padding: 0;
}

.centred-icons ul li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
}

.copyright-text p {
    text-align: center;
    margin: 0;
    padding-bottom: 20px
}

/*Footer Media Queries*/

@media (max-width: 767px) {
    .logo-img-footer {
        width: 50%;
        padding: 50px 0 20px 0;
    }
}

/*Featured Video*/

.featured-video-section {
    padding: 0;
}

.video-row {
    margin: 0;
}

.featured-video {
    display: inline-block;
    padding: 20px;
}

.featured-video-text {
    display: inline-block;
    padding: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    padding: 30px 20px;
}

.video-info h2 {
    font-size: 2.5rem;
}

.video-info p {
    font-size: 20px;
}

/*Featured Video Media Queries*/

@media (min-width: 991px) {
    .video-info p {
        font-size: 20px;
    }
}

/*Modal*/

.modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.close {
    font-size: 3.5rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: none;
    opacity: 1;
}

.close:focus {
    outline: none;
}

.close span:hover {
    color: rgba(0, 0, 0, .5)
}

/*Modal Media Queries*/

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1300px;
    }
}

/*All videos section*/

.all-videos {
    padding-bottom: 60px;
}

.all-videos a {
    cursor: pointer;
}

.all-videos .col-md-6 {
    padding: 0 15px;
}

.all-videos .text-nowrap {
    padding: 0;
}

.all-videos img {
    max-width: 85%;
    display: block;
    margin: 0 auto;
}

.all-videos h2 {
    text-align: left;
    padding-top: 37px;
    padding-bottom: 0;
    color: black;
}

.all-videos a {
    text-decoration: none !important;
}


.all-videos a:hover {
    text-decoration: none !important;
}

.page-header-all-videos {
    padding-bottom: 0px;
}

.time-text {
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
}



/*All videos media queries*/

@media (max-width: 992px) {
    .all-videos img {
        max-width: 100%;
    }

}

/*Breadcrumbs*/

.breadcrumb {
    line-height: 22px;
    background-color: white;
    padding: 0 2%;
}

.breadcrumb p {
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
}

.breadcrumb p:hover {
    color: black;
    font-size: 22px;
}

/*Single video*/

.single-video {
    padding: 0 10%;
}

.single-video-text {
    padding-top: 20px;
}

.single-video-text p {
    line-height: 0.9;
}

/*Pagination*/

.pagination-video {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.left-align-link {
    text-align: left;
}

.right-align-link {
    float: right;
}


/* Acordeon styles */

.album-container {
    max-width: 2100px
}

.album-row {
    padding: 25px 0;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    margin-bottom: 5rem;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}


.tab-content {
    max-height: 0;
    overflow: hidden;
    background: white;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}


.tab-content p {
    margin: 1em;
}

.tab-album {
    width: 100%;
}

label[for^=tab] {
    color: black;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

/* Acordeon styles media queries */

@media (max-width: 767px) {
    .tab-one-background {
        background: linear-gradient( rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)),
        url(https://f4.bcbits.com/img/a3806874278_10.jpg);
        background-size: 100%;
    }
    .tab-two-background {
        background: linear-gradient( rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)),
        url(https://f4.bcbits.com/img/a3272424778_10.jpghttps://f4.bcbits.com/img/a3272424778_10.jpg);
        background-size: 100%;
    }
    .tab-three-background {
        background: linear-gradient( rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)),
        url(https://f4.bcbits.com/img/a2139531776_10.jpg);
        background-size: 100%;
    }

    label[for^=tab] {
        color: white;
        margin-bottom: 100px;
    }


    .tab-mobile-display {
        display: none;
    }

    label[for^=tab] {
        border-bottom: none;
    }
}


/* :checked */

.tab input:checked~.tab-content {
    max-height: 100vh;
}

/* Icon */

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=checkbox]+label::after {
    content: "+";
}

.tab input[type=radio]+label::after {
    content: "\25BC";
}

.tab input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}

/* Tour map */

.tour-map {
    width: 75%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}

.europe {
    position: absolute;
    z-index: 2;
    width: 14%;
    height: 38%;
    top: 4%;
    left: 14%;
}

.africa {
    position: absolute;
    z-index: 2;
    width: 14%;
    height: 46%;
    top: 39.5%;
    left: 14%;
}

.australia {
    position: absolute;
    z-index: 2;
    width: 14%;
    height: 36%;
    top: 58.5%;
    left: 40%;
}

.asia {
    position: absolute;
    z-index: 2;
    width: 28%;
    height: 54%;
    top: 4%;
    left: 28.1%;
}

.north-america {
    position: absolute;
    z-index: 2;
    width: 31%;
    height: 55%;
    top: -0.5%;
    left: 56.3%;
}

.south-america {
    position: absolute;
    z-index: 2;
    width: 17%;
    height: 44%;
    top: 55.5%;
    left: 67.3%;
}


.continent:hover {
    background-image: radial-gradient( circle closest-side,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0));
    display: inherit;

}

.continent {
    display: hidden;
}

/* Tour map media queries*/

@media (min-width: 768px) {

    .continent:hover h3 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
        display: inherit;
    }

    .continent h3 {
        display: none;
    }

}

@media (max-width: 767px) {

    .continent {
        background-image: radial-gradient( circle closest-side,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0));
    }


    .continent:hover h3 {
        font-size: 22px;

    }

    .continent h3 {
        font-size: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }
}


@media (max-width: 576px) {

    .continent:hover h3 {
        font-size: 17px;

    }

    .continent h3 {
        font-size: 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }

}

/* Tour table*/

.tour-row {
    text-align: center;
}

.continent-table-title {
    text-align: left
}

/*Gallery*/

.gallery-row img {
    width: 100%;
    padding: 20px 0;
}
